<!doctype html>
<html>

<head>
    <title>JD Power Cars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="../index.html">JD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Sellers List <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="../view/AddSeller.html">Add Seller</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container heading">
        <span class="h4">Add Seller Details</span>
    </div>

    <div id="infoForm" class="container">
        <form action="ShowData.html">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Seller Name</label>
                    <input id="sellerText" minlength="2" class="form-control" type="text" onkeypress="validValue(this.value,errorSellerName)"
                        onblur="validValue(this.value,errorSellerName)" required>
                    <span id="errorSellerName"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Address</label>
                    <input id="addressText" minlength="2" class="form-control" type="text" onkeypress="validValue(this.value,erroraddress)"
                        onblur="validValue(this.value,erroraddress)" required>
                    <span id="erroraddress"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>City</label>
                    <input id="cityText" minlength="2" class="form-control" type="text" onkeypress="validValue(this.value,errorcity)"
                        onblur="validValue(this.value,errorcity)" required>
                    <span id="errorcity"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Phone Number</label> <span class="infoHelp">(Info)
                        <span class="infotext">Supported Formats: 555-555-5555, (555)555-5555, (555) 555-5555</span>
                    </span>
                    <input id="phnoText" class="form-control" type="tel" pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"
                        onkeypress="phoneNumberValidate(this.value);" onblur="phoneNumberValidate(this.value)"
                        minlength="12" maxlength="14" required>
                    <span id="errorphoneNumber"></span>
                </div>

                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input id="emailText" class="form-control" type="email" aria-errormessage="test" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$"
                        onkeypress="emailValidate(this.value)" onblur="emailValidate(this.value)" required>
                    <span id="erroremail"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Vehichle Make</label>
                    <input id="makeText" class="form-control" type="text" minlength="2" onkeypress="validValue(this.value,errormake)"
                        onblur="validValue(this.value,errormake)" required>
                    <span id="errormake"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Model</label>
                    <input id="modelText" class="form-control" type="text" minlength="2" onkeypress="validValue(this.value,errormodel)"
                        onblur="validValue(this.value,errormodel)" required>
                    <span id="errormodel"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Year</label>
                    <input id="yearText" class="form-control" type="number" onblur="yearValidation(this.value,event)"
                        onkeypress="yearValidation(this.value,event)" min="2000" max="2018" step="1" required>
                    <span id="errormsg"></span>
                </div>
            </div>
            <div class="form-group">
                <button id="submitButton" class="btn btn-primary btn-lg btn-block" onclick="validate()">Submit</button>
            </div>            
        </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">search List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="searchList" class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
            </div>
          </div>
        </div>
      </div>
  
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
</body>

</html>